@model FlightSpanners.Areas.CommonArea.ViewModels.ChangePasswordViewModel

@{
	ViewBag.Title = "Change Password";
}

<!-- Start of form change-password -->
<form method="POST" asp-area="CommonArea" asp-controller="Home" asp-action="ChangePassword" class="form form-changepassword">
	@if (@ViewBag.error != null)
		{
	<h2> @ViewBag.error </h2>
		}
	<br /><input type="password" asp-for="PasswordOld" class="input-text" placeholder="Old Password">
	<br /><span asp-validation-for="PasswordOld" class="error"></span>
	<br /><input type="password" asp-for="PasswordNew" class="input-text" placeholder="New Password">
	<br /><span asp-validation-for="PasswordNew" class="error"></span>
	<br /><input type="password" asp-for="PasswordConfirm" class="input-text" placeholder="Confirm New Password">
	<br /><span asp-validation-for="PasswordConfirm" class="error"></span>
	<br /><input type="submit" class="submit" value="Change Password">
</form>
<!-- End of form change-password -->
