@model FlightSpanners.Areas.CommonArea.ViewModels.IndexViewModel

@{ 
	ViewBag.Title = "SignIn Code";
}
	<!-- Start of form index -->
<form method="POST" asp-area="CommonArea" asp-controller="Home" asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]" class="form form-signin">
	@if (@ViewBag.error != null)
	{
		<h2> @ViewBag.error </h2>
	}
	<br /><input type="text" asp-for="Code" class="input-text" placeholder="Code">
	<br /><span asp-validation-for="Code" class="error"></span>
	<br /><select asp-for="SignInUserRole">
		<option value="">--Select Role--</option>
		<option value="0">Organizer</option>
		<option value="1">Spanner</option>
	</select>
	<br /><span asp-validation-for="SignInUserRole"  class="error"></span>
	<br /><input type="submit" class="submit" value="Submit Code">
	<br /><label>Don't have an account?</label>&nbsp;<a asp-area="CommonArea" asp-controller="Home" asp-action="ForgotUnregistered">Call Administrator</a>

	<!-- Check if the user is select to signin as spanner-->
	@*@if (!@Model.IsSigninAsSpanner)
		{
			<br /><a asp-area="CommonArea" asp-controller="Home" asp-action="SigninAsSpanner">Sign in as Spanner</a>
		}*@
</form>
<!-- End of form index -->

