@model FlightSpanners.Areas.CommonArea.ViewModels.SigninViewModel

@{ 
	ViewBag.Title = "Organizer Signin";
}
	<!-- Start of form signin -->
<form method="POST" asp-area="CommonArea" asp-controller="Home" asp-action="Signin" asp-route-returnurl="@ViewData["ReturnUrl"]" class="form form-signin">
	@if (@ViewBag.error != null)
	{
		<h2> @ViewBag.error </h2>
	}
	<br /><input type="text" asp-for="Code" class="input-text" placeholder="Code">
	<br /><span asp-validation-for="Code" class="error"></span>
	<br /><input type="password" asp-for="Password" class="input-text" placeholder="Password">
	<br /><span asp-validation-for="Password" class="error"></span>
	<br /><a asp-area="CommonArea" asp-controller="Home" asp-action="ForgotUnregistered">Forgot Password?</a>
	<br /><input type="submit" class="submit" value="Sign in">
	<br /><label>Don't have an account?</label>&nbsp;<a asp-area="CommonArea" asp-controller="Home" asp-action="ForgotUnregistered">Call Administrator</a>

	<!-- Check if the user is select to signin as spanner-->
	@if( !@Model.IsSigninAsSpanner )
	{
		<br /><a asp-area="CommonArea" asp-controller="Home" asp-action="SigninAsSpanner">Sign in as Spanner</a>
	}
	<!-- hidden input element to bind IsSigninAsSpanner of the Model -->
	<input type="hidden" asp-for="IsSigninAsSpanner">


</form>
<!-- End of form signin -->

