@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Encode+Sans+Condensed|Carrois+Gothic|Nunito+Sans|Quattrocento+Sans');

/* Start General Layout elements */
/* End General Layout elements */

/* Start body styles */
body {
	background-color: #F5F5F5; /* #EEE */
	font-family: 'Roboto Condensed', 'helvetica neue', 'sans-serif';
	margin: 0;
	padding: 0;
	/*height:auto;*/
	/*min-height: 100vh*/
	/*position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;*/
}
/* End body styles */

/* Start header */
header{
	width:100%;
	border-bottom: 1px solid #f05323;
	padding-right: 10px
}
header .icon-left{
	float: left;
	height: 55px;
	padding: 7.5px;
	background-color: #00FA9A;
	background-color: #f05323;
}
header .icon-left p{
	height:100%;
	font-size: 23px;
	color:#FFF;
	line-height: 40px;
	text-align: center
	/*display:grid;
	place-items: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top:50%;
	transform: translate(-50%);
	left:25%;
	margin:0 auto;*/
}
header .icon-left p i{
	font-size: 15px;
}
header .icon-right{
	float: right;
	height: 55px;
	padding: 5px;
	overflow: hidden
}
header .icon-right p {
	text-align: center;	
	color:#f05323
}
header .icon-right p i{
	font-size: 30px
}
header .icon-right p span{
	font-size: 16px
}
/*header .icon-right p a:hover{
	color: #f05323;
	cursor: pointer;
}*/
/* End header */

/* Start Nav */
nav .toggle-container{
	display: block; /* Display at mobile mode */
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin: 20px 0 10px 10px;
	float: left
}
nav .toggle-container label{
	display: block;
	cursor: pointer;
	float: left;
	font-size: 30px;
	padding: 0 15px;
	color:#f05323;
	/* Orange1:#f05323, Orange2:#cc470d, Orange3:#e15a1f, gray1:#58595b, gray2:#444 */
}
nav #toggle{
	display: none /* not display in all modes */
}
nav .toggle-container label span:nth-child(2){
	display: none /* Dont't display the X sign only display the bar sign */
}
nav .menu-container{
	display: none; /* Don't dispaly the menu when toggle check box not checked*/
}
/*
The General sibling combinator represents a "B" element following a "A" element.
The general sibling combinator is made of the "tilde" (~) character that separates two sequences of simple selectors.
The elements represented by the two sequences share the same parent in the document tree.
*/
#toggle:checked ~ .menu-container{
	display: block; /* Dispaly the menu when toggle check box checked */
}
#toggle:checked ~ .toggle-container > label > span:nth-child(2){
	display: block; /* Dispaly the X sign when the toggle check box checked */
	color: #FFF
}
#toggle:checked ~ .toggle-container > label{
	background-color: #f05323;
	transition: background-color .5s;
}	
#toggle:checked ~ .toggle-container > label > span:nth-child(1){
	display: none; /* Don't dispaly the bar sign when the toggle check box checked */
}
nav .menu-container{
	/*border-bottom: 1px solid rgb(30, 30, 49);*/
	margin: 20px 10px 10px 0;
	background-color: #f05323;
	float: left;
}
nav .menu-container .ul-main li{
	display: inline-block; /* Display each li at the same line and could be with a certain width*/
	line-height: 60px; /* ==> the total width is 60px too, specifing the line-height keeps the font vertically centered */
	position: relative; /* The parent of the ul-sub positioned relative */
}
nav .menu-container .ul-main li .ul-sub{
	position: absolute; /* The ul-sub positioned absolute to its relative parent li */
	top:58px; /* Move ul-sub 58px from the parent li (< 60px the width of the parent li) */
	width: 100%;
	display:none /* Don't display if parent li not hovered */
}
nav .menu-container .ul-main li .ul-sub li{
	display: block;
	margin: 0 ;
	text-align: left	;
	border-bottom: none;
	line-height: 45px;
	background-color: #2F4F4F; /*#58595b;*/
	opacity: 0.8;  /* 0.8 transperant at a non-mobile mode only*/
	color: #FFF;
	font-size: 15px;
}
nav .menu-container .ul-main li:hover{
	background-color: #cc470d;
	transition: background-color .3s;
	/* max-height: none; */
}
nav .menu-container .ul-main li:hover > .ul-sub{
	display:block /* Display Dropdowns on Hover */
}
nav .menu-container .ul-main li .ul-sub li:hover{
	background-color:  #008080; /* color of li of ul-sub when hovered */
}
nav .menu-container  .ul-main li a,
nav .menu-container  .ul-main li .ul-sub li a,
nav .menu-container  .ul-main li span{
	color: #FFF;
	margin: 0 15px;
}
nav .menu-container .ul-main li a:hover, 
nav .menu-container .ul-main li .ul-sub li a:hover{
	text-decoration: underline; /* Display underline for the a of li */
}
nav > .menu-container > .ul-main > li > span{
	position: relative; /* That is to add pseudo element relative to span element position */
}
/* Pseudo element before span element as triangle  at mobile mode only */
/*nav > .menu-container > .ul-main > li:hover > span::before{   :not( :last-child )*/
nav > .menu-container > .ul-main > li:hover > span::before{
	content: "";
	position: absolute;
	width: 50%;
	border-bottom: 4px solid #eee;
	border-radius: 4px; 
	bottom: -11px;
	left: 0px;
	/*transition: 0.7s ease-in all;*/
}
/******** Responsive layout - Browser 926px or less ********/ 
@media only screen and (max-width: 926px){
	/* At width < 926px the nav menu will be vertical instead of horizontal */	
	nav .toggle-container{
		float: none;
		margin-bottom: 0
	}
	nav .menu-container{
		float: none
	}
	nav .menu-container .ul-main li .ul-sub li{
		opacity: 1; /* Not transperant at mobile mode */
	}
	nav .menu-container{
		margin: 0 10px 10px 10px;
		max-width: 320px;
	}
	nav .menu-container .ul-main li{
		display: block; /* Display each li at separate line */
  	margin: 0 ;
		border-bottom: 1px solid #cc470d;
		text-align: left;
		position: static;	
		/*max-height: 60px;	*/
		overflow: hidden; /* To ensure that the content of ul-sub is not overflow out its parent li 
												when ul-sub not displayed (use this with max-height teqnique */
	}
	nav > .menu-container > .ul-main > li:hover > span{
		position: relative; /* That is to add pseudo element relative to span element position */
	}
	/* Pseudo element before span element as triangle  at mobile mode only */
	/*nav > .menu-container > .ul-main > li:hover > span::before{   :not( :last-child )*/
		nav > .menu-container > .ul-main > li:hover > span::before{
		content: "";
		position: absolute;
		width: 15px;
		height: 15px;
		background: #cc470d;		
		border: none;
		left: 10px;
		bottom: -26px;
		transform: rotate(45deg)
	}
	nav .menu-container .ul-main li .ul-sub{
		position: static;  /* Return ul-sub to static position at mobile mode */
	}
	nav .menu-container  .ul-main li a{
		text-align: center
	}
}
/* End Nav */

/* Start main */
main .main-container{
	margin: 20px 10px 0px 10px;
	/*width: calc(100%-10px); */
}
/* Start form general settings */
main .main-container .form{
	margin: 10px 0 0 10px;
	font-family: 'Carrois Gothic', sans-serif;	
	width: 500px;
}
main .main-container .form .input-text,
main .main-container .form select{
	background: #FFF;
	border: 1px solid #C8CBCF;
	border-radius: 4px;
	font-size: 14px;
	color:#58595B; /*#929497;*/
	letter-spacing: 0;
	padding: 0 10px;
	width: 100%;
	height: 32px;
	margin-top: 10px;	
	margin-bottom: 15px;
	max-width: 300px;
	display: inline-block;
	vertical-align: middle
}
main .main-container .form .input-text:focus,
main .main-container .form select:focus-within{
	border-color: #929497
}
.input-checkbox{
	vertical-align: middle;
	margin-bottom: 0px;
}
main .main-container .form .submit{
	background: #F05323;
	border-radius: 5px;
	box-shadow: none;
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 36px;
	text-transform: capitalize;
	text-shadow: none;
	width: 170px;
	height: 41px;
	margin-top: 20px;
	margin-bottom: 10px;
	display: block
}
main .main-container .form .submit:hover{
	cursor: pointer;
	background-color: #cc470d
}
main .main-container .form a{
	font-size: 13px;
	color: #1AAEBA;
	letter-spacing: 0;
	line-height: 17px;
}
main .main-container .form a:hover{
	text-decoration: underline
}
main .main-container .form label{
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	width: 110px;
	font-size: 14px;
	line-height: 24px;
	color: #58595B;
	letter-spacing: 0;
}
main .main-container .form .text-fromto{
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 15px;
	width: 175px;
}
main .main-container .form label[class="label-fromto"]{
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 5px;
	width: 15px;
}
/* Pagination links */
main .main-container .form .pagination{
	margin: 10px 0;
	display: inline-block
}
main .main-container .form .pagination a {
  color: #58595B;
  /*float: left;*/
  padding: 4px 8px;
  text-decoration: none;
	transition: background-color .5s;
	font-size:13px;
}
/* Style the active/current link */
main .main-container .form .pagination a.active {
	background-color: dodgerblue;
	/*background-color: #008080;*/
	/*background-color: #1AAEBA;*/
  color: white;
}
/* Add a grey background color on mouse-over */
main .main-container .form .pagination a:hover:not(.active) {
	background-color: #ddd;
}
main .main-container .form .table-container{
	overflow-x: auto; /* If you have a table that is too wide, you can add a container 
											 element with overflow-x:auto around the table, and it will display 
											 a horizontal scroll bar when needed. */
	margin: 10px auto							 
} 
main .main-container .form table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
main .main-container .form table tbody,
main .main-container .form table thead{
	border: 1px solid #C8CBCF;
}
main .main-container .form table th, 
main .main-container .form table td {
	text-align: left;
	vertical-align: middle;
	padding: 16px;
	border-right: 1px solid #C8CBCF;
	color: #58595B
}
main .main-container .form table tbody tr:nth-child(odd) {
	background-color: #EEE
}
main .main-container .form table tbody tr:nth-child(even) {
	background-color: #FFF
}
main .main-container .form table tfoot tr td{
	padding: 10px;
	padding-left: 15px;
	text-align: left;
	border-right: none
}
main .main-container .form table th{
	background-color: #00BFFF;
	color: #fff
}
/******** Responsive layout - Browser 550px or less ********/ 
@media only screen and (max-width: 550px){
	/* At width < 550px the label will be on the top of the textbox & select */
	main .main-container .form
	:not(.form-flightrecords-organizer-viewall)
	:not(.form-flightsummary-organizer-viewall)
	:not(.form-inactivedays-organizer-viewall)
	:not(.form-spannerdata-organizer-viewall){
		width: 300px;
		/*margin: 0 auto !important;*/
	}
	/* for form-flightrecords-organizer-viewall & main .main-container .form-flightsummary-organizer-viewall only*/
	/*main .main-container .form-flightrecords-organizer-viewall,
	main .main-container 	.form-flightsummary-organizer-viewall{
		width: 95%;
	}*/
	main .main-container .form .submit{
		width: 100%;
		max-width: 300px;
	}
	main .main-container .form .input-text,
	main .main-container .form select{
		margin-top: 0; /* As its label will be on the top of it instead of left of it*/
	}
	main .main-container .form label{
		display: block;
		margin-bottom: 0;
	}
	main .main-container .form-forgot-unregistered label{
		display: inline-block;
		margin-bottom: 10px;
	}	
	main .main-container .form-signin label:nth-last-child(2),
	/* Select each label that preceded by an <input> element with type="checkbox" */
	main .main-container form input[type="checkbox"] ~ label {
		display: inline-block;
	}
	main .main-container .form .text-fromto{
		display: inline-block;
		width: 45%;
		vertical-align: middle
	}
	main .main-container .form label[class="label-fromto"]{
		display: inline-block;
		margin-bottom: 10px;
		width: 3%;
		vertical-align: middle
	}	
}
/* End form general settings */
/* Start form specific settings*/
/* Start signin form */
main .main-container .form-signin a:first-of-type{	
	display: block; /* Display the 1st lable as block instead of inline-block */
}
main .main-container .form-signin label:last-of-type{	
	width: 150px;
}
/* End signin form */
/* Start change-password form */
/* End change-password form */
/* Start forgot-unregistered form */
main .main-container .form-forgot-unregistered .input-text{
	display: inline-block;	
	width: 185px
}
main .main-container .form-forgot-unregistered label:last-of-type{
	text-align: left;
	vertical-align: middle;
}
main .main-container .form-forgot-unregistered label:first-of-type{
	color: #FF0000;
	font-size: 17px;
	display: block;
	width: 200px
}
main .main-container .form-forgot-unregistered .input-text:focus{
	border-color: #C8CBCF /* Don't change the border as the text box is read only */
}
/* End forgot-unregistered form */
/* Start form-flightrecords-organizer-viewall */
main .main-container .form-flightrecords-organizer-viewall,
main .main-container .form-flightsummary-organizer-viewall,
main .main-container .form-inactivedays-organizer-viewall,
main .main-container .form-spannerdata-organizer-viewall{
	width: 97%;
	max-width: 535px;
}
/* End form-flightrecords-organizer-viewall */
/* Start form-flightrecords-organizer-detail */
/* Start form-flightsummary-organizer-detail */
/* Start form-inactivedays-organizer-detail */
/* Start form-spannerdata-organizer-detail */
/* Start form-organizerdata-organizer-detail */
main .main-container .form-flightrecords-organizer-detail .input-text:nth-child(even),
main .main-container .form-flightsummary-organizer-detail .input-text:nth-child(even),
main .main-container .form-inactivedays-organizer-detail .input-text:nth-child(even),
main .main-container .form-spannerdata-organizer-detail .input-text:nth-child(even),
main .main-container .form-organizerdata-organizer-detail .input-text:nth-child(even){
	background-color: #E6E6FA
}
/* End form-flightrecords-organizer-detail */
/* End form-spannerdata-organizer-detail */
/* End form-inactivedays-organizer-detail */
/* End form-flightsummary-organizer-detail */
main .main-container .form-organizerdata-organizer-detail select{
	height: 40px
}
/* End form-organizerdata-organizer-detail */
/* End form specific settings*/
/* End main */

/* Start footer */
footer{
	font-family: "Encode Sans Condensed", verdana, sans-serif;
  color: #c0c0c0;/*#a3a3a3;*/
  text-align: center;
	font-size: 10px!important;
	margin-top: 20px;
	width:100%;
	/*position: absolute;
	bottom: 0;*/
}
footer .footer-container{
	background-color: #008080;
	padding: 5px 10px
}
footer .footer-container a{
	color: inherit
}
footer .footer-container a:hover{
	text-decoration: underline
}
footer .footer-container .footer-left{
	float: left
}
footer .footer-container .footer-right{
	float: right
}
/* End footer */

/* Start My Framework */
.clearfix{ /* To fix the problems of the float property */
	clear:both
}
/* End My Framework */